/*reset css*/
@import url("./reset.css");

:root {
  background-color: #e3fdfd;
  --sat-color: #cbf1f5;
  --sun-color: #a6e3e9;
  --today-color: #71c9ce;
}

button {
  border: none;
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
  background-color: #e3fdfd;
}

.header {
  display: flex;
  font-size: 48px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;
  margin: 12px 24px 12px 24px;
  border-bottom: 2px solid var(--line-color);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 12px 24px 0px 24px;
}
.daies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.date,
.day {
  text-align: center;
  width: calc(100% / 7);
  padding: 16px 0 16px 0;
  box-sizing: border-box;
}
.date:nth-child(7n),
.day:nth-child(7n) {
  background-color: var(--sat-color);
  color: blue;
}
.date:nth-child(7n + 1),
.day:nth-child(7n + 1) {
  background-color: var(--sun-color);
  color: red;
}
.today {
  border: 2px solid var(--today-color) !important;
}

@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/YangjuByeolsanA1.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
