.flex-div{
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items:center;
    gap:0.5rem;
    margin: 0.5rem;
}
.logo{
    height: 2rem;
}
.nav-right >img{
    height: 2rem;
}
input{
    border: none;
    all: unset;
}
.user-icon{
    border-radius: 50%;
}
.search-box{
    border: 1px solid #ccc;
    padding: 0.2rem 1rem;
    border-radius: 2.5rem;
    display: flex;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    position:sticky;
    top:0;
    z-index: 10;
    
}