/*reset css*/
@import url('./reset.css');

/*header css*/
.img_header_logo {
    width: 12rem;
    height: 5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.header_btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    gap: 2rem;
    padding-left: 2rem;
    width: 30rem;
    height: 5rem;
    background-color: white;
}

.fa-house, .fa-magnifying-glass, .fa-compass, .fa-paper-plane, .fa-heart, .fa-square-plus, .fa-user, .fa-ear-listen, .fa-bars{
    font-size: 1.5rem;
}

.header_home_span{
    font-size: 1.5rem;
}

.header_ul_first {
    margin-bottom: 5rem;
}

/*세로 수직선 긋기*/
vr { 
    display: block;
    width:0.01rem;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;
    left: 20rem
}

.story_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 38rem;
    margin-top: 2rem;
}

.story_section img {
    width: 5rem;
    height: 5rem;
}

.story_section p {
    text-align: center;
}