/*reset css*/
@import url("./reset.css");

/*header css*/

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 100%;
}
.img_header_logo {
  width: 12rem;
  height: 5rem;
}

.header_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 2rem 2rem;
  gap: 2rem;
  width: 20rem;
  height: 5rem;
  background-color: white;
}

.fa-house,
.fa-magnifying-glass,
.fa-compass,
.fa-paper-plane,
.fa-heart,
.fa-square-plus,
.fa-user,
.fa-ear-listen,
.fa-bars {
  font-size: 1.5rem;
}

.header_home_span {
  font-size: 1.5rem;
}

.header_ul_first {
  margin-bottom: 10rem;
}

/*세로 수직선 긋기*/
vr {
  display: block;
  width: 0.01rem;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20rem;
}

/* story section */
.story_section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50rem;
  height: 8rem;
  padding: 2rem 10rem;
}

.story_section img {
  width: 5rem;
  height: 5rem;
}

.story_section p {
  text-align: center;
}

/* main section */
.main_section {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 50rem;
}

.main_article {
  width: 50rem;
  height: 50rem;
  margin-left: 15rem;
}

.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.main_title img {
  width: 3rem;
  height: 3rem;
}

.main_profile_name {
  font-weight: bold;
  margin-left: 0.5rem;
}

.main_time {
  color: gray;
  margin-left: 0.5rem;
}

.main_img_div {
  width: 25rem;
  height: 20rem;
}
.main_img_div img {
  object-fit: cover;
}
