body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #prevBtn {
    background-color: #a9eefb;
    border-radius: 5px;
    border-style: none;
  }
  #nextBtn {
    background-color: #a9eefb;
    border-radius: 5px;
    border-style: none;
  }
  .calendarContainer {
    width: 500px;
    height: 350px;
    margin: 30px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #ddfaff;
  }
  
  .calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .day {
    padding: 5px;
  }
  
  .calendarDates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .date {
    cursor: pointer;
    padding: 5px;
  }
  
  .date:hover {
    background-color: #84e6f7;
  }