/* header */
#logoImg {
    width: 100px;
    height: 30px;
}
header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}
header > ul {
    list-style-type: none;
}

header > ul> li > img {
    width: 20px;
}

/* story */
#story {
    display: flex;
    /* align-items: center; */
}
.storyProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storyProfile > p { 
    font-size: 15px;
}
.storyProfile > img {
    border-radius: 50px;
    width: 60px;
}

/* post */
.postProfile {
    display: flex;
}
.postProfile > img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.postImg {
    width: 400px;
}
.postBold {
    font-weight: 600;
}
.postComment {
    color: gray;
}

/* my profile */
#myProfile {
    display: flex;
}
#myName {
    font-size: 16px;
    color: gray;
}
#myProfile > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#changeButton {
    font-size: 14px;
    color: rgb(98, 186, 241);
    font-weight: 600;
}

/* recommend */
#recommend {
    
}
#recommend > ul {
    list-style-type: none;
}
#recommendMent {
    display: flex;
}
#recommendMentForYou {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
#recommendMentAll {
    font-size: 15px;
    font-weight: 500;
}
.recommendProfile {
    display: flex;
}

.recommendProfile > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.recommendM {
    font-size: 14px;
    color: gray;
}
.followButton {
    font-size: 14px;
    color: rgb(98, 186, 241);
    font-weight: 600;
}
/* footer */
footer > p {
    color: rgb(186, 186, 186);
    font-size: 12px;
    font-weight: 400;
}