#layout {
    display: grid;
    grid-template-columns: 15vw 53vw 22vw;
    grid-template-rows: 15vh 40vh 15vh 30vh;

}

/* header */

#headerSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;

    background-color: red;

    /* position: fixed; */
    border-right : thin solid black ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 100px;
    height: 30px;
}
header {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}
header > ul {
    list-style-type: none;
}

header > ul :hover {
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
}

.menuList {
    
    padding: 10px;
    margin: 10px;
}

.menuList> img {
    width: 20px;
}

#menuProfile {
    border-radius: 50px;
}

/* story */
#storySection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: yellow;

    display: flex;
    position: static;
    /* align-items: center; */

    justify-content: center;
}
.storyProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin: 7px;
}
.storyProfile > p { 
    font-size: 15px;
}
.storyProfile > img {
    border-radius: 50px;
    width: 60px;
}

/* post */
#postSection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;

    background-color: green;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
}
.postProfile {
    display: flex;
}
.postProfile > img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.postImg {
    width: 500px;
    
}
.postBold {
    font-weight: 600;
}
.postComment {
    color: gray;
}

.postTime {
    color: gray;
}

.postIcon > img {
    width: 25px;
}

.postLine {
    border-bottom : thin solid black ;
    width : 500px;
}

/* my profile */
#myProfile {
    display: flex;
}
#myName {
    font-size: 16px;
    color: gray;
}
#myProfile > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#changeButton {
    font-size: 14px;
    color: rgb(98, 186, 241);
    font-weight: 600;
}

/* recommend */
#recommendSection {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: blue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#recommendSection > ul {
    list-style-type: none;
}
#recommendMent {
    display: flex;
}
#recommendMentForYou {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}
#recommendMentAll {
    font-size: 15px;
    font-weight: 500;
}
.recommendProfile {
    display: flex;
}

.recommendProfile > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.recommendM {
    font-size: 14px;
    color: gray;
}
.followButton {
    font-size: 14px;
    color: rgb(98, 186, 241);
    font-weight: 600;
}
/* footer */
#footerSection {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    background-color: purple;
    padding: 20px;
}
footer > p {
    color: rgb(186, 186, 186);
    font-size: 12px;
    font-weight: 400;
}