ul{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}
ul div  li a{
    color: rgba(0, 0, 0, 0.79);
    font-weight: bold;
}
ul div li a:hover{
    color: gray;
}
form input {
    color: gray;
    width: 25rem;
}
ul div{
    display: flex;
    align-items: center;}
ul div li, ul div svg{
    margin: 0 1rem;
}

.section1,.section3,.section4,.section5{
    background-color: rgb(255, 250, 224);
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    
}
.section3{
    background-color: #FFF8F1;
}
.section4{
    background-color: #f9f9f9;
}
.section5{
    background-color: #F6FDEC;
}

.section2{
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;

}
.section1-img img,
.section2-img img,
.section3-img img,
.section4-img img,
.section5-img img{
    width: 30rem;
}
.main-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.sub-title{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.513);
    margin-bottom: 1rem;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem;
}
.section2-buttons{
    display: flex;
    flex-direction: column;
}
.sub-title-orange{
    color:#FF6F0F;
    font-weight: bold;
}
header{
    position: fixed;
    background-color: white;
    width: 100%;
}
nav{
    margin: 0 6rem;
}