@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background: #fafafa;
}
main {
  display: flex;
  justify-content: center;
  padding: 10px 0 80px 0;
  background: rgb(238, 255, 234);
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-top: 50px;
}

section{
    margin-left: 250px;
}

.div-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    position: fixed;
    left: 30px;
    top: 0;
    border-right: #e1e1e1 solid 1px;
    background-color: white;
}
.div-nav div img {
  width: 25px;
  height: 25px;
  margin: 0 23px -8px 0;
}
.nav-text{
    display: inline-block;
}
.img-navProfile {
  border-radius: 100%;
}

/* story */
.box-story {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30px;
  height: 120px;
  padding: 16px 0 0 16px;
  margin: 0 100px 20px 0;
}
.img-profile-56px {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: 0 20px 5px 0;
}
.name-story {
  font-size: 12px;
  padding: 0 0 0 4px;
}
.img-story {
  border: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(
      to right,
      rgb(186, 22, 201) 0%,
      rgb(255, 47, 0) 25%,
      rgb(255, 68, 0) 50%,
      rgb(252, 180, 47) 90%,
      rgb(234, 223, 107) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* feed */
.box-feed {
  width: 470px;
  background-color: white;
  overflow: hidden;
  
}
.head-feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-feed {
  display: flex;
  align-items: center;
  padding: 15px;
}
.icon-more {
  width: 15px;
  height: 15px;
  margin: 0 20px 0 0;
}
.userName-feed {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 4px 10px;
}
.location-feed {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.img-feed {
  width: 470px;
}
.icon-feed {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.img-icon {
  width: 25px;
  margin: 0 10px 0 0;
}
.text-like {
  font-size: 13px;
  font-weight: bold;
  margin: 0 15px 15px 15px;
}

.comment-all {
    font-size: 13px;
    margin: 15px 0 20px 15px;
  }

.box-comment {
  margin: 15px 0 20px 15px;
}
.text-comment {
  display: inline-block;
  width: 390px;
  margin: 0 0 10px 0;
  font-size: 14px;
}
.date-comment {
  /* display: inline-block; */
  /* width: 400px; */
  margin: 0 0 14px 0;
  font-size: 12px;
  color: #828282;
}
.img-heart-comment:hover,
.img-delete-comment:hover {
  cursor: pointer;
}
.img-delete-comment {
  margin: 0 0 2px 10px;
}
/* 댓글 */
.box-chat {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-top: 0;
}
.input-chat {
  width: 350px;
  border: none;
}
.btn-chat {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(0, 149, 246, 1);
}

/* 오른쪽 */
.profile-id {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
}



.box-aside {
  margin: 40px 0 0 40px;
}
.img-profile-32px {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #efefef;
}
.box-myProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: 0 0 20px 0;
}
.box-myProfile div {
  display: flex;
}
.profile-name1 {
  color: #262626;
  font-weight: bold;
  font-size: 14px;
}
.profile-name2 {
    color:#8e8e8e;
    font-size: 14px;
   }

.box-recommend {
  width: 320px;
  margin: 0 0 30px 0;
}
.box-recommend h2 {
  color: #828282;
  font-weight: bold;
  font-size: 14px;
}
.head-recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.btn-recommend-all {
  background-color: transparent;
  border: none;
  color: #262626;
  font-weight: bold;
  font-size: 12px;
}
.box-recommend-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
}
.profile-recommend {
  display: flex;
  justify-content: flex-start;
}

.btn-blue {
  background-color: transparent;
  border: none;
  color: rgb(0, 149, 246);
  font-weight: bold;
  font-size: 12px;
}
.userName-recommend {
  font-size: 14px;
  color: #262626;
  font-weight: bold;
  margin: 0 0 4px 10px;
}
.follower-recommend {
  font-size: 12px;
  color: #8e8e8e;
  margin: 0 0 0 10px;
}

/* footer */
.footer {
  width: 320px;
  line-height: 18px;
  font-size: 12px;
  color: #c7c7c7;
}
.footer-info {
  margin: 0 0 20px 0;
}

/* id검색 상자 */
.box-filteredId {
  display: none;
  position: absolute;
  top: 50px;
  left: -50px;
  width: 375px;
  height: 375px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  overflow: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.box-recentSearch {
  position: relative;
}
.title-recentSearch {
  position: absolute;
  color: #262626;
  font-weight: bold;
  font-size: 16px;
  top: 10px;
  left: 5px;
  margin: 10px 15px;
}
.content-recentSearch {
  position: absolute;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: bold;
  top: 180px;
  left: 110px;
}
/* .box-filteredId-deco {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 25px solid red;
  border-left: 30px solid transparent;
} */
.filteredId {
  /* display: inline-block; */
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 7px 0;
}
.filteredImg {
  display: inline-block;
  margin: 10px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.wrapFiltered {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapText {
  display: flex;
  flex-direction: column;
}
.filteredName {
  font-size: 14px;
  color: #8e8e8e;
}

