.layout {
    display: grid;
    grid-template-columns: 10vw 15vw 50vw 15vw 10vw;
}

/* header */
#header {
    background-color: red;
    position: fixed;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 80px;
    height: 40px;
}
#headerMenu {
    display: flex;
    margin-left: 150px;
}
#headerMenu > ul{
    list-style: none;
    display: flex;
}
#headerMenu > ul > li {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
}
#headerSearch {
    margin-right: 200px;
}
#search {
    background-color: rgb(214, 214, 214);
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
#chatBtn {
    width: 80px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
}

/* main */
#main {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: yellow;
}

/* download */
#download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#download > img {
    height: 100vh;
}
#downloadComment {
    margin: 180px;
}
#downloadComment > h1 {
    font-size: 50px;
}
#downloadComment > p {
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

#downloadBtnSection {
    display: flex;

}
.downloadBtn {
    background-color: rgb(255, 106, 0);
    color: white;
    font-weight: 600;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

/* menu */
#menu {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: green;
    border-bottom: 1px solid;
}

/* footer */
#footer {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: blue;
    font-size: 14px;
    font-weight: 300;
}
.footerBold {
    font-weight: 500;
}

.footerMenu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.footerMenu > ul > li {
    margin-right: 20px;
}
#footerIcon{
    font-size: 23px;
    display: flex;
    align-items: center;
}
#footerAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#coSelect {
    border: 0px;
}