i,img{
cursor: pointer;
}
*{box-sizing: border-box;}
.app-navbar{
    margin-bottom: 1rem;
}
.app-sidebar{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 25%;
    margin-right: 1rem;
}
.app-sidebar:hover{
    overflow-y: scroll;

}
.sidebar-main-wrapper{
    display: flex;
}
/* .app-navbar ,.app-sidebar{
    position: fixed;
} */
